@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue + px;
    font-size: calc($sizeValue / 10) + rem;
}

@mixin rtl-styles {
    [dir="rtl"] & {
        @content;
    }
}

@mixin rtl-rotate {
    [dir="rtl"] & {
        transform: scaleX(-1);
    }
}

@mixin content-ellipsis-overflow {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}